# test data
data/test_calc.h5

# Python 2
*.pyc

# APS IT
.loglogin

# Eclipse configuration
.pydevproject
.project

# Microsoft VisualStudio Code editor
.vscode*/

# logging subdirectory
.logs/

# local developer code
_dev_*.py
_dev_*.ipynb
